#header{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    background-color: white;
    box-shadow:  0 0 2px 2px rgba(0, 0, 0, 0.2);
    z-index: 100;

}
.right-section{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.sorting-methods-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.sorting-methods-container div{
    margin-right: 20px;
    background-color: lime;
    padding: 14px;
    cursor: pointer;
    box-shadow: -2px -2px 2px 2px rgba(0, 0, 0, 0.2);

}
.sorting-methods-container div:hover{
    opacity: 0.8;
}
div .alg-select-button-active{
    box-shadow: inset 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    background-color: yellow;
}

#sort-button{
    padding: 16px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 16px;
    background-color: rgb(0, 251, 255);
    border: none;
    cursor: pointer;
}
#sort-button:hover{
    background-color: rgb(0, 200, 255);
}

.left-section{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
#array-size-input{
    margin-left: 10px;
    margin-right: 20px;
}
#generate-arr-button{
    padding: 20px;
    background-color: purple;
    color: white;
    border: none;
    cursor: pointer;

}
#generate-arr-button:hover{
    opacity: 0.8 ;
}
#generate-arr-button:active{
    background-color: lightpink;
}


