#main-container{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    height: 100%;
}
.bar{
    position: relative;
    width: 20px;
    background-color: green;
    border: 1px solid black;
    text-align: center;
    margin-right: 5px;
}






