#main{
  /*centers the main div on the screen*/
  display: flex;
  justify-content: center;

}

/* menu bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 14px 16px;
  }
  
  /* Change the link color to #111 (black) on hover */
li a:hover, li a:focus, li a:active {
    text-decoration: none;
    color: white;
    background-color: #111;
}
